services:
  server:
    image: rustwizard/balda-server
    build:
      context: .
      dockerfile: ./build/Dockerfile
    ports:
      - "127.0.0.1:9666:9666"
    environment:
      SERVER_ADDR: 0.0.0.0
      SERVER_PORT: 9666
      SERVER_X_API_TOKEN: abcdefuvwxyz
      PG_HOST: pg
      PG_USER: balda
      PG_DATABASE: balda
      PG_PASSWORD: password
      PG_MAX_POOL_SIZE: 100
      REDIS_ADDR: redis:6379
    command: ["server"]

  pg:
    image: postgres:16-trixie
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - /opt/pg_data_balda:/var/lib/postgresql/data
    environment:
        - POSTGRES_PASSWORD=postgres
        - POSTGRES_USER=postgres
        - POSTGRES_DB=balda

  redis:
    image: redis:8-trixie
    ports:
      - "127.0.0.1:6379:6379"